/* line 17, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 150%;
}

/* line 64, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 24px;
  line-height: 2.08333em;
}

/* line 18, ../sass/main.scss */
body {
  font-family: "Roboto", Arial, sans-serif;
  color: #1077ea;
}

@-moz-keyframes radius-change {
  /* line 25, ../sass/main.scss */
  0%, 85% {
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 50px;
    color: #1077ea;
  }

  /* line 30, ../sass/main.scss */
  35%, 50% {
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 124px;
    color: white;
  }
}

@-webkit-keyframes radius-change {
  /* line 25, ../sass/main.scss */
  0%, 85% {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 50px;
    color: #1077ea;
  }

  /* line 30, ../sass/main.scss */
  35%, 50% {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 124px;
    color: white;
  }
}

@-o-keyframes radius-change {
  /* line 25, ../sass/main.scss */
  0%, 85% {
    -o-border-radius: 10px;
    border-radius: 10px;
    line-height: 50px;
    color: #1077ea;
  }

  /* line 30, ../sass/main.scss */
  35%, 50% {
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 124px;
    color: white;
  }
}

@-ms-keyframes radius-change {
  /* line 25, ../sass/main.scss */
  0%, 85% {
    -ms-border-radius: 10px;
    border-radius: 10px;
    line-height: 50px;
    color: #1077ea;
  }

  /* line 30, ../sass/main.scss */
  35%, 50% {
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 124px;
    color: white;
  }
}

@keyframes radius-change {
  /* line 25, ../sass/main.scss */
  0%, 85% {
    border-radius: 10px;
    line-height: 50px;
    color: #1077ea;
  }

  /* line 30, ../sass/main.scss */
  35%, 50% {
    border-radius: 50%;
    line-height: 124px;
    color: white;
  }
}

@-moz-keyframes text-fade {
  /* line 38, ../sass/main.scss */
  0%, 75% {
    color: #1077ea;
    background: transparent;
    width: 100%;
    left: 0px;
  }

  /* line 44, ../sass/main.scss */
  25%, 50% {
    color: transparent;
    background: #1077ea;
    width: 60px;
    left: 70px;
  }
}

@-webkit-keyframes text-fade {
  /* line 38, ../sass/main.scss */
  0%, 75% {
    color: #1077ea;
    background: transparent;
    width: 100%;
    left: 0px;
  }

  /* line 44, ../sass/main.scss */
  25%, 50% {
    color: transparent;
    background: #1077ea;
    width: 60px;
    left: 70px;
  }
}

@-o-keyframes text-fade {
  /* line 38, ../sass/main.scss */
  0%, 75% {
    color: #1077ea;
    background: transparent;
    width: 100%;
    left: 0px;
  }

  /* line 44, ../sass/main.scss */
  25%, 50% {
    color: transparent;
    background: #1077ea;
    width: 60px;
    left: 70px;
  }
}

@-ms-keyframes text-fade {
  /* line 38, ../sass/main.scss */
  0%, 75% {
    color: #1077ea;
    background: transparent;
    width: 100%;
    left: 0px;
  }

  /* line 44, ../sass/main.scss */
  25%, 50% {
    color: transparent;
    background: #1077ea;
    width: 60px;
    left: 70px;
  }
}

@keyframes text-fade {
  /* line 38, ../sass/main.scss */
  0%, 75% {
    color: #1077ea;
    background: transparent;
    width: 100%;
    left: 0px;
  }

  /* line 44, ../sass/main.scss */
  25%, 50% {
    color: transparent;
    background: #1077ea;
    width: 60px;
    left: 70px;
  }
}

/* line 52, ../sass/main.scss */
.wrapper:before {
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 59, ../sass/main.scss */
.wrapper {
  width: 500px;
  height: 6em;
  margin: 10% auto;
  position: relative;
  border: 2px solid #000;
}
/* line 65, ../sass/main.scss */
.wrapper .element {
  display: inline-block;
  margin: 0 auto;
  background: #1077ea;
  border: 2px solid #1077ea;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: radius-change 5s infinite;
  -moz-animation: radius-change 5s infinite;
  -ms-animation: radius-change 5s infinite;
  -o-animation: radius-change 5s infinite;
  animation: radius-change 5s infinite;
}
/* line 72, ../sass/main.scss */
.wrapper .element .element-inside {
  margin: 5px;
  background: white;
  margin: 0 auto;
  border-top: 6px solid #1077ea;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: radius-change 5s infinite;
  -moz-animation: radius-change 5s infinite;
  -ms-animation: radius-change 5s infinite;
  -o-animation: radius-change 5s infinite;
  animation: radius-change 5s infinite;
}
/* line 83, ../sass/main.scss */
.wrapper .element p {
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

@-moz-keyframes circle-rotate {
  /* line 93, ../sass/main.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 96, ../sass/main.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-rotate {
  /* line 93, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 96, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle-rotate {
  /* line 93, ../sass/main.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 96, ../sass/main.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes circle-rotate {
  /* line 93, ../sass/main.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 96, ../sass/main.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-rotate {
  /* line 93, ../sass/main.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 96, ../sass/main.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 101, ../sass/main.scss */
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border: 12px solid #1077ea;
  border-radius: 50%;
  background: transparent;
  margin: 10% auto 0;
  box-shadow: 0 0 3px #ddd;
}
/* line 111, ../sass/main.scss */
.circle:before {
  content: " ";
  position: absolute;
  width: 224px;
  height: 224px;
  z-index: -1;
  top: -21px;
  left: -21px;
  padding: 3px;
  border: 6px solid #1077ea;
  border-radius: 50%;
  background: white;
}
/* line 124, ../sass/main.scss */
.circle .circle-inside {
  position: absolute;
  width: 0;
  height: 0;
  top: -15px;
  left: -15px;
  border-top: 115px solid white;
  border-left: 115px solid rgba(0, 0, 0, 0);
  border-bottom: 115px solid white;
  border-right: 115px solid white;
  border-radius: 50%;
  z-index: 100;
  -webkit-animation: circle-rotate 2s linear infinite;
  -moz-animation: circle-rotate 2s linear infinite;
  -ms-animation: circle-rotate 2s linear infinite;
  -o-animation: circle-rotate 2s linear infinite;
  animation: circle-rotate 2s linear infinite;
}
/* line 138, ../sass/main.scss */
.circle #text {
  color: #1077ea;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 300;
  top: 70px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  opacity: 1;
  -webkit-animation: text-fade 5s infinite;
  -moz-animation: text-fade 5s infinite;
  -ms-animation: text-fade 5s infinite;
  -o-animation: text-fade 5s infinite;
  animation: text-fade 5s infinite;
}
