@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "animation";

$bg-color: red;
$main-color: #1077ea;

// typography
$base-font-size: 24px;
$base-line-height: 50px;
$min-line-padding: 20px;



@include establish-baseline(24px);

body {
	font-family: "Roboto", Arial, sans-serif;
	color: $main-color;
}

// create your animation
@include keyframes(radius-change) {
  	0%, 15% {
    	@include border-radius(10px);
		line-height: $base-line-height;
		color: $main-color;
		height: $base-line-height*1.4;
		top: $base-line-height*1.12;
		width:224px;
	}
	20%, 65% {
		@include border-radius(50%);
		line-height: $base-line-height;
		color: white;
		height: 224px;
		top: -21px;
	}
	70%, 100% {
    	@include border-radius(10px);
		line-height: $base-line-height;
		color: $main-color;
		height: $base-line-height*1.4;
		top: $base-line-height*1.12;
	}
}



@include keyframes(text-fade) {
 	0%, 10%, 100% {
    	color: $main-color;
    	background: transparent;
    	width: 100%;
    	left: 0px;	
	}

	15%, 70% {
		color: transparent;
    	background: $main-color;
    	width: 100%;
    	left: 0px;
	}

	20%, 65% {
		color: transparent;
		background: $main-color;
		width: 60px;
		left: 70px;
	}

	75%, 98% {
    	color: transparent;
    	background: transparent;
    	width: 100%;
    	left: 0px;	
	}
}

@include keyframes(text-fade-end) {
 	0%, 70%, 100% {
    	color: transparent;
    	background: transparent;
	}

	75%, 98% {
    	color: $main-color;
    	background: transparent;
    	width: 100%;
    	left: 0px;	
	}
}

@include keyframes(circle-rotate) {
 	0% {
    	@include rotate(0deg);
	}
	100% {
		@include rotate(360deg);
	}
}

@include keyframes(circle-index) {
	0%, 18%, 63%, 100% {
    	z-index: 200;
	}
	19%, 62% {
		z-index: -1;
	}
}

@include keyframes(circle-fade) {
 	0%, 20%, 62%, 100% {
		border-left-color: white;
	}

	22%, 60% {
    	border-left-color: rgba(0,0,0,0);
	}
}

@include keyframes(circle-white) {
 	0%, 10%, 70%, 100% {
    	background: white;
	}

	20%, 65% {
		background: $main-color;
	}
}

.circle {
	position: relative;
	width:200px;
	height: 200px;
	border: 12px solid $main-color;
	border-radius: 50%;
	background: transparent;
	margin: 16% auto 0;
	box-shadow: 0 0 3px #ddd;
	&:after {  
	    content: " ";
	    position: absolute;
	    width:224px;
	    height: 224px;
	    z-index: -1;
	    top: -21px;
	    left: -21px;
	    padding: 3px;
	    border: 6px solid $main-color;
	    border-radius: 50%;
	    background: white;
	    overflow: hidden;
	    @include animation(circle-index 16s infinite,radius-change 16s infinite);
	}  
	.circle-inside {
		position: absolute;
		width:0;
		height: 0;
		top: -15px;
		left: -15px;
		border-top: 115px solid white;
		border-left: 115px solid rgba(0,0,0,0);
		border-bottom: 115px solid white;
		border-right: 115px solid white;
		border-radius: 50%;
		z-index: 10;
		@include animation(circle-rotate 1.2s linear infinite, circle-fade 16s linear infinite);
	}
	#text,#text-end {
		font-size: 48px;
		line-height: 60px;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		z-index: 500;
		top: 70px;
		left: 0px;
		margin: 0 auto;
		width: 100%;
		height: 60px;
		opacity: 1;
		
	}
	#text {
		color: $main-color;
		@include animation(text-fade 16s infinite);
	}
	#text-end {
		color: transparent;
		margin-left: -7px;
		@include animation(text-fade-end 16s infinite);
	}
}

